pandas
numpy
seaborn
matplotlib  
scikit-learn
catboost
xgboost
Flask

#-e .



"""#activate virtual environment
conda activate D:\Ml_project\venv1
git init for github repo 
#git init 
git add requirements.txt
git commit -m "requirements.txt" "Add requirements.txt with necessary libraries"    
git remote add origin <your-repo-url>
git push -u origin master """

